<h2 class="text-center">Sign up</h2>
<div class="d-flex justify-content-center">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true %>

      <%= f.input :last_name, required: true %>

      <%= f.input :image_url, required: true %>

      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :type, collection: ["User", "Coach"], :label => 'User or Coach?', prompt: "Choose From List" %>

      <!-- coach options -->
      <div class="coach_options container">
        <%= f.input :hourly_rate, required: true, label: "Hourly rate (in Euros)" %>
        <%= f.input :available_start_at,
                    required: true,
                    label: "Weekday availability from:" %>
        <%= f.input :available_end_at, required: true, label: "to:" %>
        <%= f.input :description, required: true %>
      </div>
      <!-- coach options end -->

      <%= f.input :occupation %>

      <%= f.input :field, required: true %>

      <%= f.input :city, required: true %>

      <%= f.input :born_on,
                  required: true,
                  as: :date,
                  start_year: Date.today.year - 18,
                  end_year: Date.today.year - 90,
                  order: [:day, :month, :year] %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block btn-lg' %>
    </div>
  <% end %>

</div>

<script>
  const showCoachOptions = (on_off) => {
    document.querySelector(".coach_options")
      .style
      .display = on_off ? "block" : "none"
  }

  const user_type = document.getElementById("user_type");
  user_type.addEventListener("change", (event) => {
    switch (event.currentTarget.value) {
      case 'Coach':
        showCoachOptions(true)
        break
      case 'User':
        showCoachOptions(false)
        break
      default:
        console.log("shit hit the fan")
    }
  })

  showCoachOptions(false);
</script>
