<div class="container">

  <% city_image_url = params[:city].empty? ? "https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1110&q=198" : "https://loremflickr.com/g/1110/198/#{params[:city].gsub(" ", "")}" %>

  <% city_image_url = "https://images.unsplash.com/photo-1513735492246-483525079686?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" if params[:city].downcase == "porto" %>

  <!-- old url
    https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60 -->
  <div class="card-category" style="background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url(<%= city_image_url %>)">
    <div class="text-center">
      <p>Discover coaches in <br> <%= params[:city].empty? ? "the World" : params[:city].split.map(&:capitalize).join(' ') %></p>
    </div>
   </div>
  <div class="my-4">
    <%= render "components/search-again-form" %>

  </div>
  <div class="mb-4">
    <h2><%= @coaches.count %> coaches found in <%= params[:city].empty? ? "the World" : params[:city].split.map(&:capitalize).join(' ') %></h2>
  </div>

  <div class="coaches-cards" >
    <% @coaches.each do |coach| %>

  <!-- need to turn this to a component. Do it later
  %= render "components/coach-index-card", locals: {coach: coach} % -->

  <!-- need to refactor this link to -->
  <!-- # link_to  , coach_path(coach), target: "_blank" -->

    <a class="coaches-card-link" href="<%= coach_path(coach) %>" target="_blank">
      <div class="coaches-card">
            <%= image_tag("#{coach.image_url ? coach.image_url : 'https://kitt.lewagon.com/placeholder/users/krokrob'}", alt: "coach picture", class: '') %>

            <div class="coaches-card-infos">
              <h2><%= "#{coach.first_name.capitalize} #{coach.last_name.capitalize}" %></h2>
              <br>
              <p ><i class="fas fa-lg fa-map-marked-alt"></i> City: <%= coach.city  %></p>
              <p ><i class="fas fa-lg fa-award"></i> Specialty: <%= coach.field %></p>
              <p ><i class="fas fa-lg fa-dollar-sign"></i> <%= coach.hourly_rate %> / hour</p>
              <p ><i class="far fa-lg fa-calendar-alt"></i> <%= coach.available_start_at.strftime("%H:%M") %> to <%= coach.available_end_at.strftime("%H:%M") %></p>

              <p class="text-justify"><strong>Description:</strong><br>
                <% if coach.description.length > 99 %>
                  <%= coach.description[0..99]+"..." %>
                <% else %>
                  <%= coach.description %>
                <% end %>
              </p>
            </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
