<div class="container">
  <!-- old url
    https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60 -->
  <div class="card-category" style="background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/g/1110/198/<%=params[:city].gsub(" ", "")%>)">
    <p>Discover coaches in <%= params[:city].capitalize%></p>
   </div>
  <div class="my-4">

  <%= render "components/search-again-form" %>
  </div>
  <div>

  <% @coaches.each do |coach| %>

  <div class="card-product">
      <%= link_to image_tag( "#{coach.image_url ? coach.image_url : 'https://kitt.lewagon.com/placeholder/users/krokrob'}", :alt => "rss feed", class: 'card-trip-user avatar-square'),
                coach_path(coach),
                target: "_blank" %>

      <div class="card-product-infos">
      <h2><%= link_to "#{coach.first_name} #{coach.last_name}" , coach_path(coach), target: "_blank" %></h2>
      <p>Contact: <%= coach.email %></p>
      <p>Hourly rate: <%= coach.hourly_rate %></p>
      <p>Field: <%= coach.field %></p>
   </div>
   </div>
  <% end %>
     <%= link_to "Back to Home", root_path %>





</div>

</div>
