<div class="container">

  <!-- old url
    https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60 -->
  <div class="card-category" style="background-size: cover; background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/g/1110/198/<%=params[:city].gsub(" ", "")%>)">
    <div class="text-center">
      <p>Discover coaches in <br> <%= params[:city].empty? ? "the World" : params[:city] %></p>
    </div>
   </div>
  <div class="my-4">
    <%= render "components/search-again-form" %>

  </div>
  <div class="mb-4">
    <h2><%= @coaches.count %> coaches found in <%= params[:city].empty? ? "the World" : params[:city] %></h2>
  </div>

  <div class="coaches-cards" >
    <% @coaches.each do |coach| %>

  <!-- need to turn this to a component. Do it later
  %= render "components/coach-index-card", locals: {coach: coach} % -->

  <!-- need to refactor this link to -->
  <!-- # link_to  , coach_path(coach), target: "_blank" -->

    <a class="coaches-card-link" href="<%= coach_path(coach) %>" target="_blank">
      <div class="coaches-card">
            <%= image_tag("#{coach.image_url ? coach.image_url : 'https://kitt.lewagon.com/placeholder/users/krokrob'}", alt: "coach picture", class: 'card-trip-user avatar-square') %>

            <div class="coaches-card-infos">
              <h2><%= "#{coach.first_name} #{coach.last_name}" %></h2>
              <p><strong>Contact:</strong> <%= coach.email %></p>
              <p><strong>Hourly rate:</strong> <%= coach.hourly_rate %></p>
              <p><strong>Field:</strong> <%= coach.field %></p>
              <p><strong>City:</strong> <%= coach.city %></p>
              <p class="text-justify"><strong>Description:</strong><br><%= coach.description[0..99]+"..." %></p>
            </div>
        </div>
      </a>

  <% end %>
  </div>
     <%= link_to "Back to Home", root_path %>

</div>
