<hr class="mt-0">
<div class="container">

    <div class="d-flex justify-content-around align-items-center">
        <img class="avatar-super-large" src="<%= @coach.image_url ? @coach.image_url : 'https://kitt.lewagon.com/placeholder/users/krokrob' %>"/>
      <div class="m-3">
        <h2><%= "#{@coach.first_name} #{@coach.last_name}" %></h2>

        <p class="m-0">
          <i class="far fa-envelope"></i> <%= @coach.email %> &sdot;
          <i class="fab fa-linkedin"></i> &sdot;
          <i class="fab fa-twitter-square"></i> &sdot;
          <i class="fab fa-instagram"></i>
        <p>

        <div class="coach-assets">
          <p class="m-0"><i class="fas fa-map-marked-alt"></i> City: <%= @coach.city  %></p>
          <p class="m-0"><i class="fas fa-award"></i> Specialty: <%= @coach.field %></p>
          <p class="m-0"><i class="fas fa-dollar-sign"></i> <%= @coach.hourly_rate %> / hour</p>
          <p class="m-0"><i class="far fa-calendar-alt"></i> Availability: from <%=   @coach.available_start_at.strftime("%d AM") %> to <%= @coach.available_end_at.strftime("%d PM") %> @ business days</p>
        </div>
      </div>

      <%= link_to "Book an appointment with #{@coach.first_name}",
        new_coach_appointment_path(@coach),
        class: "btn btn-gradient btn-lg"%>

    </div>
    <p>
    <p class="text-justify">"<%= @coach.description  %>"</p>
    <br>
</div>
