<hr class="mt-0">
<div class="container">

    <div class="coach-card d-flex justify-content-around align-items-center">

      <div class="image">
        <img class="avatar-super-large" src="<%= @coach.image_url ? @coach.image_url : 'https://kitt.lewagon.com/placeholder/users/krokrob' %>"/>
      </div>

      <div class="coach-info">
        <div>
          <h2>
            <%= "#{@coach.first_name} #{@coach.last_name}" %>
            <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-linkedin ml-2"></i></a>
            <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-twitter-square"></i></a>
            <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-instagram"></i></a>
          </h2>
          <p>
            <a style="color: #666" href="mailto:<%= @coach.email %>?Subject=Hello%20<%= @coach.first_name %>!">
             <i class="far fa-1x fa-envelope"></i>
             <%= @coach.email %>
             </a>
        </div>

        <div>
          <p><i class="fas fa-lg fa-map-marked-alt"></i> City: <%= @coach.city  %></p>
          <p><i class="fas fa-lg fa-award"></i> Specialty: <%= @coach.field %></p>
          <p><i class="far fa-lg fa-calendar-alt"></i> Availability: from <%=   @coach.available_start_at.strftime("%H:%M") %> to <%= @coach.available_end_at.strftime("%H:%M") %> on business days</p>
        </div>
      </div>

      <div class="book-me text-center">
        <h2>
          <strong><%= @coach.hourly_rate %>€</strong><span style="font-size: 16px">/h</span>
        </h2>


          <%= link_to "Book a session", new_coach_appointment_path(@coach), class: "btn btn-gradient"%>
      </div>


    </div>
    <br>

    <div class="coach-description">
      <h3 class="text-justify"><strong>Resume</strong></h3>
      <p class="text-justify">"<%= @coach.description  %>"</p>
    </div>

</div>

<script>
  document.querySelectorAll(".todo").forEach(anchor => {
    anchor.addEventListener("click", event => {
    alert("Hello, <%= current_user.first_name %>! This feature is not yet implemented. But thanks for showing your interest. It helps us to prioritize.")
    })
  })

</script>
