<div class="container">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
    <%= @coach.first_name %> <%= @coach.last_name %> profile
  </div>
  <br>

  <div class="card-product">
       <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-square"/>
       <div class="card-product-infos">
      <p><strong>Name:</strong> <%= "#{@coach.first_name} #{@coach.last_name}" %></p>
      <p><strong>Contact:</strong> <%= @coach.email %></p>
      <p><strong>Hourly </strong>rate: <%= @coach.hourly_rate %></p>
      <p><strong>Area of expertise:</strong> <%= @coach.field %></p>
      <p><strong>City:</strong> <%= @coach.city %></p>

    </div>
   </div>
  <br>

  <h3>Description</h3>
  <p class="text-justify"><%= @coach.description %></p>

  <%= link_to "Book an appointment with #{@coach.first_name}",
              new_coach_appointment_path(@coach),
              class: "btn btn-gradient" %>




</div>
