<div class="container">



    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
      My Appointments
    </div>
  <br>
  <div class="appointments-cards">
        <% @appointments.each do |appointment| %>
        <% coach = Coach.find(appointment.coach_id) %>

        <div class="appointment-card m-3 p-2 text-center">

            <div>
              <p class="m-3">You have a meeting
                on <%= appointment.schedule_at.strftime("%d %b %y") %>
                at <%= appointment.schedule_at.strftime("%H:%M") %>
                for <%= pluralize( appointment.duration, 'hour' ) %>
                with <strong> <%= link_to coach.first_name, coach_path(coach), style: "color: #666" %></strong>
              </p>
              <a href="<%= coach_path(coach)  %>">
                <img src="<%= coach.image_url%>" class="avatar-large" alt="">
              </a>

            </div>

            <h3>
              <%= "#{coach.first_name} #{coach.last_name}" %>
            </h3>
            <p>
              <a class='todo' href=""><i style="color: #666" class="fab fa-lg fa-linkedin ml-2"></i></a>
              <a class='todo' href=""><i style="color: #666" class="fab fa-lg fa-twitter-square"></i></a>
              <a class='todo' href=""><i style="color: #666" class="fab fa-lg fa-instagram"></i></a>
            </p>
            <p>
              <a style="color: #666" href="mailto:<%= coach.email %>?Subject=Hello%20<%= coach.first_name %>!">
               <i class="far fa-1x fa-envelope"></i>
               <%= coach.email %>
               </a>
            </p>

        </div>
        <% end %>
      <br>
  </div>



</div>
