<div class="container">



    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);">
      Next Appointments
    </div>


  <br>



  <div class="">
        <% @appointments.each do |appointment| %>
        <% coach = Coach.find(appointment.coach_id) %>

        <div class="appointment-card my-3 p-2">

            <div class="text-center">
              <p>You have a meeting
                at <%= appointment.start_time %> for <%= pluralize( appointment.duration, 'hour' ) %>
                with <strong> <%= link_to coach.first_name, coach_path(coach) %></strong>
                <img src="<%= coach.image_url%>" class="avatar-large" alt="">
              </p>
            </div>

            <h2>
              <%= "#{coach.first_name} #{coach.last_name}" %>
              <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-linkedin ml-2"></i></a>
              <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-twitter-square"></i></a>
              <a class='todo' href=""><i style="color: #666" class="fab fa-xs fa-instagram"></i></a>
            </h2>
            <p>
              <a style="color: #666" href="mailto:<%= coach.email %>?Subject=Hello%20<%= coach.first_name %>!">
               <i class="far fa-1x fa-envelope"></i>
               <%= coach.email %>
               </a>
            </p>

        </div>
        <% end %>
      <br>
  </div>



</div>
