<h2 class="text-center">Book a session with <%= @coach.first_name %></h2>
<br>
  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

      <%= simple_form_for [:search, @coach, @appointment], method: "post", url: coach_appointments_path do |f| %>
        <%= f.input :schedule_at, as: :string, required: false, input_html: {class: "datepicker"} %>

        <%= f.input :duration, label: "Duration (in hours)" %>
        <%= f.button :submit, "Book", class: "btn btn-primary btn-block btn-lg" %>
      <% end %>
    </div>
  </div>
