<div class="container">
  <h2>Book a session with <%= @coach.first_name %></h2>

  <%= simple_form_for [@coach, @appointment] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input Appointment::ATTRIBUTES[0] %>
      <%= f.input Appointment::ATTRIBUTES[1], label: "Duration (in hours)" %>
    </div>

    <div class="form-actions btn btn-primary">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</div>
