<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favlogo.png' type='image/x-icon'/ >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Get that job there</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
     <%= render "components/navbar" %>

    <p class="m-0 notice text-center"><%= notice %></p>
     <p class="m-0 alert text-center"><%= alert %></p>


    <%= yield %>
    <%= render "components/footer" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
